body {
    margin: 0;
    padding: 0;
    min-width: 1040px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white
}

.page-header {
    min-height: 490px;
    padding-top: 35px;
    background-color: #363636;
    color: #c3c3c3;
    background: url("../img/header-bg.jpg") no-repeat 50% 50%;
    background-size: cover
}

.container {
    width: 1020px;
    margin: 0 auto
}

.header-top { margin-bottom: 125px }

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

.header-logo {
    float: left;
    width: 205px;
    height: 55px
}

.header-logo img {
    width: 205px;
    height: 55px
}

.main-nav {
    margin: 18px 0 0 125px;
    padding: 0;
    list-style: none;
    float: left;
    width: 520px
}

.main-nav li { 
    text-transform: uppercase;
    float: left;
    margin-right: 50px
}

.main-nav li:last-child {
    margin-right: 0
}

.main-nav li a {
    color: white;
    text-decoration: none
}

.main-nav li a:hover { text-decoration: underline }

.main-nav li a:active { color: rgba(255, 255, 255, 0.3) }

.promo {
    font-family: "Georgia";
    font-size: 45px;
    line-height: 55px;
    font-weight: bold
}

.promo a {
    color: white;
    text-decoration: none
}

.features { padding: 50px 0 55px 0 }

.features ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.feature-item {
    position: relative;
    width: 279px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
    padding: 90px 30px 0 30px;
    float: left
}

.feature-item::before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    position: absolute;
    top: 0;
    left: 137px;
    width: 65px;
    height: 65px;
/*
    background-color: red;
    opacity: 0.5
*/
}

.feature-item:first-child { border-color: transparent }

.feature-item p {
    margin: 0;
    font-size: 16px
}

.feature-title {
    margin: 0 0 20px 0;
    font-family: "Georgia", serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #a38b70
}

/*.feature-choice { background: url("../img/feature-1.png") no-repeat top center }*/

.feature-choice::before { background-position: -5px -5px }

/*.feature-quality { background: url("../img/feature-2.png") no-repeat top center }*/

.feature-quality::before { background-position: -5px -76px }

/*.feature-safety { background: url("../img/feature-3.png") no-repeat top center }*/

.feature-safety::before { background-position: 1px -143px }

.cat-reference { 
    padding: 70px 0 90px 0;
    background-color: #f2f2f2
}

.cat-reference .container { position: relative }

.cat-reference dl {
    margin: 0;
    padding: 0;
    width: 820px
}

.section-title {
    margin: 0 180px 60px 0;
    font-family: "Georgia", serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #a38b70
}

.to-full-reference {
    position: absolute;
    top: 5px;
    right: 0
}

.reference-title { 
    display: inline;
    font-size: 24px
}

.reference-source {
    font-size: 16px;
    color: #666666;
    font-style: italic
}

.reference-source a {
    position: relative;
    color: #a38b70
}

.reference-source a:hover { color: #8d745a }

.reference-source a:active { color: rgba(141, 116, 90, 0.3) }

.reference-source a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 8px;
    height: 8px;
    background: url("../img/sprite.png") no-repeat -5px -210px
}

.cat-reference dt { margin: 0 0 10px 0 }

.cat-reference dd {
    margin: 0;
    position: relative;
    min-height: 100px;
    padding-left: 130px;
    font-size: 16px
}

.cat-reference dd + dt { margin-top: 70px }

.cat-reference dd img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px
}

.cat-reference dd p { margin: 0 }

.reviews { padding: 70px 0 90px 0 }

.reviews .container { position: relative }

.to-all-reviews {
    position: absolute;
    top: 0;
    right: 0
}

.reviews-list {}

.review-item {
    margin: 0 80px 0 0;
    padding: 0 0 0 50px;
    width: 377px;
    font-size: 16px;
    border-left: 3px solid #a38b70;
    float: left
}

.review-item p { margin: 0 0 15px 0 }

.review-author {
    font-style: italic;
    font-weight: bold
}

.popular-and-price {
    padding: 70px 0 90px 0;
    background-color: #f2f2f2
}

.popular-and-price .container { position: relative }

.to-catalog {
    position: absolute;
    top: 0;
    right: 0
}

.popular-items { margin-bottom: 50px }

.catalog-item {
    position: relative;
    width: 262px;
    margin-right: 48px;
    float: left;
    font-size: 16px;
    border: 1px solid #d8d8d8;
    padding: 221px 22px 15px 22px;
}

.catalog-item:last-child {
    margin-right: 0
}

.catalog-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 306px;
    max-width: 100%;
    height: 206px
}

.catalog-item h3 {
    float: left;
    max-width: 205px;
    margin: 0 0 20px 0;
    font-size: 16px;
    color: #000000
}

.catalog-item-price {
    float: right;
    max-width: 55px;
    margin-bottom: 20px
}

.catalog-item .btn {
    width: 101px;
    color: white;
    background-color: #a38b70
}

.catalog-item .btn:hover { background-color: #8d745a }

.catalog-item .btn:active { color: rgba(255, 255, 255, 0.3) }

.catalog-item .btn-info {
    float: left;
    clear: left
}

.catalog-item .btn-buy { float: right }

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px
}

.price-list th {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase
}

.price-list td { border: 1px solid #d8d8d8 }

.price-list th, .price-list td { padding: 10px 17px }

.price-list .price-number { 
    text-align: center;
    width: 15px
}

.price-list .price-name {
    width: 422px;
    font-weight: bold;
    color: #000000
}

.price-list .price-master { width: 306px }

.price-list .price-cost { width: 135px }

.feedback { padding: 60px 0 70px 0 }

.feedback-tip { font-size: 16px }

.feedback-form {
    width: 630px;
    padding-right: 390px;
    background: url("../img/write.jpg") no-repeat 100% 40px
}

.feedback-form-group { padding: 10px 0 10px 0 }

.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border-color: #bebebe
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    border-color: #8d745a
}

.checkbox-area { border-bottom: 1px solid #d5d5d5 }

input[type="submit"] {}

.btn {
    display: inline-block;
    width: 146px;
    word-wrap: break-word;
    text-align: center;
    font: inherit;
    vertical-align: top;
    border: 2px solid #a38b70;
    border-radius: 2px;
    padding: 10px;
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a
}

.btn-quick-order {
    float: right;
    margin-top: 6px;
    border-color: white;
    color: white
}

.btn-quick-order:hover {
    color: #404040;
    background: white;
    border-color: white
}

.btn-quick-order:active {
    color: rgba(64, 64, 64, 0.3);
    background: white;
    border-color: white  
}

.page-footer {
    padding: 45px 0 50px 0;
    background-color: #363636;
    color: #c3c3c3
}

.footer-top { margin-bottom: 45px }

.footer-logo {
    float: left;
    width: 205px;
    height: 55px
}

.footer-middle { 
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid #5e5e5e
}

.footer-menu {
    float: left;
    width: 150px;
    margin-right: 20px
}

.footer-menu h3 {
    font-family: "Georgia", serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70
}

.footer-menu ul { list-style: none }

.footer-menu a {
    font-size: 16px;
    color: #c3c3c3;
    text-decoration: none
}

.footer-menu a:hover { color: #ffffff }

.footer-menu a:active { color: rgba(255, 255, 255, 0.3) }

.footer-bottom { 
    padding-top: 50px;
    border-top: 1px solid #5e5e5e
}

.footer-social {
    float: left;
    width: 490px
}

.footer-social b {
    font-family: "Georgia", serif;
    font-size: 24px;
    color: #a38b70
}

.social-btn { color: #ffffff }

.footer-copyright {
    float: right;
    width: 236px
}

.footer-copyright a {
    color: white;
    text-decoration: none
}

.footer-copyright a:hover { text-decoration: underline }

.footer-copyright a:active { color: rgba(255, 255, 255, 0.3) }