body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white
}

.page-header {
    padding: 10px;
    background-color: #363636;
    color: #c3c3c3;
    background: url("../img/header-bg.jpg") no-repeat 50% 50%;
    background-size: cover
}

.header-top {}

.header-logo {}

.main-nav { list-style: none }

.main-nav li { text-transform: uppercase }

.main-nav li a {
    color: white;
    text-decoration: none
}

.main-nav li a:hover { text-decoration: underline }

.main-nav li a:active { color: rgba(255, 255, 255, 0.3) }

.promo {
    font-family: "Georgia";
    font-size: 45px;
    line-height: 55px;
    font-weight: bold
}

.promo a {
    color: white;
    text-decoration: none
}

.features ul { list-style: none }

.feature-item {
    text-align: center;
    border-left: 1px solid #d9d9d9;
    padding-top: 90px
}
.feature-item:first-child { border: none }

.feature-item p { font-size: 16px }

.feature-title {
    font-family: "Georgia", serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #a38b70
}

.feature-choice { background: url("../img/feature-1.png") no-repeat top center }

.feature-quality { background: url("../img/feature-2.png") no-repeat top center }

.feature-safety { background: url("../img/feature-3.png") no-repeat top center }

.cat-reference { background-color: #f2f2f2 } 

.section-title {
    font-family: "Georgia", serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #a38b70
}
.reference-title { font-size: 24px }

.reference-source {
    font-size: 16px;
    color: #666666;
    font-style: italic
}

.reference-source a { color: #a38b70 }

.reference-source a:hover { color: #8d745a }

.reference-source a:active { color: rgba(141, 116, 90, 0.3) }

.cat-reference dd { font-size: 16px }

.cat-reference img { border-radius: 5px }

.reviews {}

.reviews-list {}

.review-item {
    font-size: 16px;
    border-left: 3px solid #a38b70
}
.review-author {
    font-style: italic;
    font-weight: bold
}

.popular-and-price { background-color: #f2f2f2 }

.popular-items {}

.catalog-item { font-size: 16px }

.catalog-item h3 { 
    font-size: 16px;
    color: #000000
}

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px
}

.price-list th {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase
}

.price-list td { border: 1px solid #d8d8d8 }

.price-list th, .price-list td { padding: 5px 10px }

.price-list .price-number { text-align: center }

.price-list .price-name {
    font-weight: bold;
    color: #000000
}

.feedback {}

.feedback-tip { font-size: 16px }

.feedback-form { 
    padding-right: 390px;
    background: url("../img/write.jpg") no-repeat 100% 40px
}

.feedback-form-group { padding: 10px 0 10px 0 }

.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border-color: #bebebe
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    border-color: #8d745a
}

.checkbox-area { border-bottom: 1px solid #d5d5d5 }

input[type="submit"] {}

.btn {
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase
}

.btn:hover { color: #8d745a }

.btn:active { color: rgba(141, 116, 90, 0.3) }

.page-footer {
    padding: 10px;
    background-color: #363636;
    color: #c3c3c3
}

.footer-top {}

.footer-middle { border-top: 1px solid #5e5e5e }

.footer-menu {}

.footer-menu h3 {
    font-family: "Georgia", serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70
}

.footer-menu ul { list-style: none }

.footer-menu a {
    font-size: 16px;
    color: #c3c3c3;
    text-decoration: none
}

.footer-menu a:hover { color: #ffffff }

.footer-menu a:active { color: rgba(255, 255, 255, 0.3) }

.footer-bottom { border-top: 1px solid #5e5e5e }

.footer-social {}

.footer-social b {
    font-family: "Georgia", serif;
    font-size: 24px;
    color: #a38b70
}

.social-btn { color: #ffffff }

.footer-copyright a {
    color: white;
    text-decoration: none
}

.footer-copyright a:hover { text-decoration: underline }

.footer-copyright a:active { color: rgba(255, 255, 255, 0.3) }