/*
body {
    background: url("../img/glasses-1.jpg") repeat: 50% 50%;
}
*/

.page-header {
    padding: 10px;
    background-color: #eeeeee;
}

.header-top {
    
}

.header-logo {
    
}
.main-nav {
    
}

.promo {
    
}

.feature {
    
}

.feature-item {
    
}

.cat-reference {
    
}

.reviews {
    
}

.reviews-list {
    
}

.popular-and-price {
    
}

.popular-items {
    
}

.catalog-item {
    
}

.price-list {
    width: 100%;
    border-collapse: collapse;
}

.price-list th {
    font-weight: normal;
    text-align: left;
}

.price-list td { border: 1px solid #333333 }

.price-list th,
.price-list td {
    padding: 5px 10px;
}

.price-list .price-number { text-align: center }
.price-list .price-name { font-weight: bold }

.page-footer {
    padding: 10px;
    background-color: #eeeeee;
}

.footer-top {
    
}

.footer-middle {
    
}

.footer-menu {
    
}

.footer-bottom {
    
}

.footer-social {
    
}